<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PG Day France 2019 - Conférence PostgreSQL en juin à l'université Lyon2">
    <title>PG Day France - {{ page.title }}</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="fonts/Gen-Light.otf" type="text/css"/>
    <link rel="shortcut icon" href="https://www.postgresql.fr/lib/tpl/tortoise/images/favicon.ico" />
    <link type="text/plain" rel="author" href="https://www.pgday.fr/humans.txt" />
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="navbar-brand">
           <a href="index.html">PG Day France</a>
            <a class="brand-info" href="information">19 juin 2019 / Lyon</a>
           </div>
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="programme">Programme</a></li>
            <li><a href="sponsors">Sponsors</a></li>
            <li><a href="orateurs">Orateurs</a></li>
            <!--
            <li><a href="videos">Vidéos</a></li>
            -->

            <li><a href="inscription">Inscrivez-vous !</a></li>
            <!-- <li><a href="appel">Appel à Orateurs</a></li> -->
            <!-- <li><a href="contribuer">Participez !</a></li> -->
            <!-- <li><a href="codedeconduite">CoC</a></li> -->
            <li><a href="information">Infos Pratiques</a></li>
            <!--<li><a href="contact">Contact</a></li>-->
            <li><a href="apropos">A propos</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <br/>
    <br/>
    <div class="container">
      <div class="row well">
    <div class="col-lg-12">

    {{ content }}
    </div>
  </div>
  </div>
    <div class="container">
      <footer id="sponsors">

        <h5>Partenaires GOLD de l'événement</h5>

        <div class="row text-center container-fluid">

            <div class="col-xs-12 col-md-3">
                <a href="https://www.univ-lyon2.fr/" class="thumbnail">
                  <img src="img/lyon2.png" alt="Université Lyon2" />
                </a>
              </div>

          <div class="col-xs-12 col-md-3">
            <a href="https://dalibo.com" class="thumbnail">
              <img src="img/dalibo.png" alt="Dalibo" />
            </a>
          </div>
          <div class="col-xs-12 col-md-3">
            <a href="https://www.capdata.fr" class="thumbnail">
              <img src="img/capdata.png" alt="CapData">
            </a>
          </div>
          <div class="col-xs-12 col-md-3">
            <a href="https://www.linagora.fr" class="thumbnail">
              <img src="img/linagora.png" alt="Linagora">
            </a>
          </div>
        </div>

        <h5>Partenaires SILVER de l'événement</h5>

        <div class="row text-center container-fluid">
          <div class="col-xs-12 col-md-3">
              <a href="https://www.enterprisedb.com/" class="thumbnail">
                <img src="img/enterprisedb.jpg" alt="EnterpriseDB">
              </a>
            </div>
          <div class="col-xs-12 col-md-3">
            <a href="http://www.evolix.fr/" class="thumbnail">
              <img src="img/evolix.png" alt="Evolix">
            </a>
          </div>
          <div class="col-xs-12 col-md-3">
              <a href="" class="thumbnail">
                <img src="img/leboncoin.png" alt="Le Bon Coin">
              </a>
            </div>
        </div>

      </footer>
    </div>

    <footer class="pg_footer">
        <div class="row">
            <div class="col-md-2">
              <ul>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/codedeconduite">Code de conduite</a></li>
                <li><a href="/apropos">Contact</a></li>
              </ul>
  
            </div>
            <div class="col-md-8 text-center">
                <p>Suivez notre actualité sur <a href="https://twitter.com/PGDAY_Fr" data-lang="fr" title="Page Twitter du PGDay France">Twitter</a> 
                  ou abonnez vous à notre <a href="http://eepurl.com/wqJTP">lettre d'information</a>.</p>
  
                  <p>
                      Le PGDay France est un évènement de <a href="http://www.postgresql.fr" title="Communauté PostgreSQL francophone"> 
                        la communauté francophone de PostgreSQL</a>
                  </p>
  
                    <img src="img/assoc_logo.png" alt="Association PostgreSQL-Fr" width="70px" height="70px">
  
            </div>
            <div class="col-md-2 text-right">
                <a href="https://twitter.com/PGDAY_Fr">
                    <img src="img/twitter.svg" class="pg_icon" alt="Twitter PgDayFr">
                </a>
                <a href="https://www.youtube.com/channel/UCR7skKC85Zn6p7fJ-lW7G8g">
                    <img src="img/youtube.svg" class="pg_icon" alt="Chaine Youtube">
                </a>
               
            </div>
        </div>
  </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
    <script type='text/javascript'>
    </script>

  </body>
</html>
