<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PGDay France 2014 - Toulon">
    <title>PGDay France - {{ page.title }}</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="fonts/Gen-Light.otf" type="text/css"/>
    <link rel="shortcut icon" href="http://wiki.postgresql.fr/lib/tpl/tortoise/images/favicon.ico" />
    <link type="text/plain" rel="author" href="https://www.pgday.fr/humans.txt" />
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

            <div class="navbar-brand"> <a href="index.html">PGDay France</a>
            <a href="index.html" class="brand-info">Toulon - 5-6 juin 2014</a>
              </div>
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="ateliers.html">Ateliers</a></li>
            <li><a href="programme.html">Programme</a></li>
            <li><a href="information.html">Information</a></li>
            <li><a href="inscription.html">Inscription</a></li>
            <li><a href="contribuer.html">Contribuer</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Suivez notre actualité sur <a href="https://twitter.com/PGDAY_Fr" data-lang="fr" title="Page Twitter du PGDay France">Twitter [@PGDAY_Fr]</a> ou abonnez vous à notre <a href="http://eepurl.com/wqJTP">lettre d'information</a>.</p>
            <p>Retrouvez également le même type d'événement organisé en Suisse : <a href="http://www.postgres-conference.ch/fr/" data-lang="fr" title="Swiss Postgres Conference 2014">Swiss Postgres Conference 2014</a>.</p>
            <hr>
            <small>Le PGDay France 2014 est un évènement de <a href="http://www.postgresql.fr" title="Site de la communauté PostgreSQL francophone"> la communauté francophone de PostgreSQL</a></small>
          </div>
        </div>
        <div class="row text-center" id="sponsors">
             <h5>Partenaires de l'événement</h5>
             <div class="col-xs-4 col-md-4">
            <a href="http://www.dalibo.com/" class="thumbnail">
                <img src="img/dalibo.png" alt="DALIBO" />
            </a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a href="http://www.itika.net" class="thumbnail">
                <img src="img/itika.png" alt="ITIKA" />
            </a>
        </div>    
        <div class="col-xs-4 col-md-4">
            <a href="http://www.oceanet-technology.com/" class="thumbnail">
                <img src="img/oceanet.png" alt="Oceanet Technology">
            </a>
        </div>
        </div>
      </footer>
    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
    <script type='text/javascript'>
    </script>

  </body>
</html>
