<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PG Day France 2019 - Conférence PostgreSQL en juin à l'université Lyon2">
    <title>PG Day France - {{ page.title }}</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="fonts/Gen-Light.otf" type="text/css"/>
    <link rel="shortcut icon" href="http://wiki.postgresql.fr/lib/tpl/tortoise/images/favicon.ico" />
    <link type="text/plain" rel="author" href="https://www.pgday.fr/humans.txt" />
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="navbar-brand">
           <a href="index.html">PG Day France</a>
            <a class="brand-info" href="information">juin 2018 / Lyon</a>
           </div>
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="programme">Programme</a></li>-->
            <li><a href="sponsors">Sponsors</a></li>
            <!--
            <li><a href="videos">Vidéos</a></li>
            -->

            <li><a href="inscription">Inscrivez-vous !</a></li>
            <!-- <li><a href="appel">Appel à Orateurs</a></li>-->
            <!-- <li><a href="contribuer">Participez !</a></li> -->
            <li><a href="codedeconduite">Code de Conduite</a></li>
            <li><a href="information">Infos Pratiques</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="apropos">A propos</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Suivez notre actualité sur <a href="https://twitter.com/PGDAY_Fr" data-lang="fr" title="Page Twitter du PGDay France">Twitter [@PGDAY_Fr]</a> ou abonnez vous à notre <a href="http://eepurl.com/wqJTP">lettre d'information</a>.</p>
            <hr>
            <small>Le PGDay France 2018 est un évènement de <a href="http://www.postgresql.fr" title="Site de la communauté PostgreSQL francophone"> la communauté francophone de PostgreSQL</a></small>
          </div>
        </div>


        <h5>Partenaires GOLD de l'événement</h5>

        <div class="row text-center container-fluid" id="sponsors">
<!--
          <div class="col-xs-4 col-md-4">
            <a href="https://dalibo.com" class="thumbnail">
              <img src="img/dalibo.png" alt="Dalibo" />
            </a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="https://www.jaguar-network.com" class="thumbnail">
              <img src="img/LogoJaguar_BLEUhorizontal_640.jpg" alt="Jaguar Network">
            </a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="https://www.enterprisedb.com/" class="thumbnail">
              <img src="img/edb.jpg" alt="EnterpriseDB" />
            </a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="https://dalibo.com" class="thumbnail">
              <img src="img/dalibo.png" alt="Dalibo" />
            </a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="https://setra-conseil.com/" class="thumbnail">
              <img src="img/setra.png" alt="Setra Conseil" />
            </a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="https://linagora.com" class="thumbnail">
              <img src="img/linagora.png" alt="Linagora" />
            </a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="http://www.techdata.fr/" class="thumbnail">
              <img src="img/tech_data.jpg" alt="Tech Data" />
            </a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="http://oslandia.com/" class="thumbnail">
              <img src="img/oslandia.png" alt="Oslandia" />
            </a>
          </div>
          -->
		  <!--
          <div class="col-xs-4 col-md-4">
            <a href="http://" class="thumbnail">
              <img src="img/" alt="FIXME" />
            </a>
          </div>
          -->
        </div>
      </footer>
    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
    <script type='text/javascript'>
    </script>

  </body>
</html>
